<div class="card font-monospace bg-light border border-dark">
  <div class="card-header bg-secondary">
    <h1 class="card-title text-center"><%= card.name_raw %></h1>
  </div>


  <div class="card-body pb-0 bg-info">
    <% if(card.image_raw !== '') {%>
      <div class="text-center">
        <img class="card-img border border-dark" src="<%= card.image_raw %>" alt="<%= card.name_raw %> Image"/>
      </div>
    <%}%>

      <div class="justify-content-center border border-dark rounded overflow-hidden mt-2">
      <table class="table table-sm m-0">
        <tr><td><strong>Born</strong></td><td><%= card.born_raw %></td></tr>
        <tr><td><strong>College</strong></td><td><%= card.college_raw %></td></tr>
        <tr><td><strong>Work</strong></td><td><%= card.work_raw %></td></tr>
      </table>
      </div>
    </div>

  <div class="card-footer bg-secondary text-center">
    <small class="text-white">
      <%= card.funfact_raw %>
    </small>
  </div>
</div>